* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

body {
    background-color: black;
    color: white;
}

.margem {
    width: 90%;
    margin: 0 auto;
    /* border: solid green 1px; */
}

.lilas {
    color: #cc74ec;
}


/*menu*/
.navbar {
    background: linear-gradient(to right, #522663, #aa50cc);
}

.navbar-brand {
    color: white;
    margin-left: 5%;
}

.navbar-brand:hover {
    color: white;

}

.navbar-toggler {
    margin-right: 5%;
}

/*fim do menu*/

/*header*/
header {
    /* border: solid 1px red; */
    margin-top: 56px;
    background-image: url(../estu);
}

.flex-header {
    padding-top: 100px;
    margin-top: 56px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.header-txt {
    width: 50%;
    /* border: pink solid 1px; */
}

.caixa-header {
    display: flex;
    gap: 15px;
}

.caixa i {
    font-size: 20px;
    background: #2f2f2f;
    padding: 8px;
    border-radius: 5px;
}

.caixa {
    display: flex;
    align-items: center;
    gap: 10px;
    /* border: solid red 1px; */
    margin-bottom: 15px;
}

.caixa-header-txt {
    font-size: 14px;
}

.header-img {
    width: 50%;
    /* border: solid blue 2px; */
}

.header-img img {
    width: 100%;

}

/* From Uiverse.io by nima-mollazadeh */
.button {
    position: relative;
    text-decoration: none;
    color: #fff;
    background: linear-gradient(45deg, #0ce39a, #69007f, #fc0987);
    padding: 14px 25px;
    border-radius: 10px;
    font-size: 1.25em;
    cursor: pointer;

    margin-top: 15px;
}

.button span {
    position: relative;
    z-index: 1;
}

.button::before {
    content: "";
    position: absolute;
    inset: 1px;
    background: #272727;
    border-radius: 9px;
    transition: 0.5s;
}

.button:hover::before {
    opacity: 0.7;
}

.button::after {
    content: "";
    position: absolute;
    inset: 0px;
    background: linear-gradient(45deg, #0ce39a, #69007f, #fc0987);
    border-radius: 9px;
    transition: 0.5s;
    opacity: 0;
    filter: blur(20px);
}

.button:hover:after {
    opacity: 1;
}

/*sessão 2 | Landing page*/
#s02 {
    margin-top: 100px;
    padding: 30px 0;

    display: none;
}

.flex-s02 {
    display: flex;
    align-items: center;
}

.s02-h2 {
    width: 50%;
}

.s02-h2 h2 {
    font-size: 120px;
    line-height: 100px;
}

.s02-txt {
    width: 50%;
}